/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

/*
 * bsalerts as fixed toast
-------------------------------------------------- */
.aftoast {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1040;
	margin: 0;
}
.aftoast-top {
	top: 0;
}
.aftoast-bottom {
	bottom: 0;
}
.navbar-fixed-top ~ .aftoast-top {
	top: 52px;
}
.navbar.navbar-fixed-bottom ~ .aftoast-bottom {
	bottom: 52px;
}

/*
 * Base structure
-------------------------------------------------- */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.vertical-align {
	display: flex;
	align-items: baseline;
}

.vertical-align .top {
	align-self: baseline;
}

.vertical-align .center {
	align-self: center;
}



/* Custom page CSS
-------------------------------------------------- */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}


.sub-header .badge {
    padding: .25em .4em;
    font-size: 55%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .35rem;
}


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}



.available {
	color: green;
	font-weight: bold;
}

.discontinued {
	color: red;
	font-weight: bold;
}