<!DOCTYPE HTML>
<html ng-app="helloWorld" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<title>SAP Cloud Tutorials: Create a Web Front End with Angular.JS in Web IDE</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link href="css/main.css" rel="stylesheet" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<script src="//code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="js/ie-emulation-modes-warning.js"></script>

	<!-- Angular app JavaScript
	================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
	<script src="js/main.js"></script>
</head>

<body ng-controller="helloController">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">SAP Cloud Tutorials</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Product Overview</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Help</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
				</form>
			</div>
		</div>
	</nav> <!-- /.navbar -->


	<div role="main" class="main container-fluid">
		<!-- Example of page header -->
		<div class="page-header">
			<h1>Hello, world!</h1>
			<p>Angular.JS is a very popular web application framework. It is one of many choices for web application designs supported by SAP. Learn how to use Angular.JS inside the SAP Cloud, using Web IDE.</p>
			<p><a class="btn btn-primary btn-lg" href="https://developers.sap.com/group.cp-frontend-angular-1.html" role="button">Learn more &raquo;</a></p>
		</div>
		
		
		
		
		<h2 class="sub-header">
			Products
			<div class="pull-right">
				<span class="badge badge-pill badge-dark">Items: {{productList.length}}</span>
			</div>
		</h2>
		<div class="list-group">
			<button type="button" class="list-group-item" ng-click="selectProduct(product)" ng-repeat="product in productList">
				<div class="row vertical-align">
					<div class="col-sm-8 top">
						<h4>{{product.ProductName}}</h4>
						<p>{{product.QuantityPerUnit}}</p>
					</div>
					<div class="col-sm-3 text-right top">
						<h4>{{product.UnitPrice | number:2}} <small class="text-muted">{{selectedProduct.currency || 'EUR'}}</small></h4>
						<p ng-class="{'available' : product.Discontinued == false, 'discontinued' : product.Discontinued != false}">{{product.Discontinued == false ? "Available" : "Discontinued"}}</p>
					</div>
					<div class="col-sm-1 center">
						<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
					</div>
				</div>
			</button>
		</div>
		
		
		
		
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Heading</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Heading</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Heading</h2>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div> <!-- /.main -->


	<div class="modal fade" tabindex="-1" role="dialog" id="product-detail">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Product Detail - {{selectedProduct.ProductName}}</h4>
				</div>
				<div class="modal-body">
					<p><strong>Product ID</strong>: {{selectedProduct.ProductID}}</p>
					<p><strong>Product Name</strong>: {{selectedProduct.ProductName}}</p>
					<p><strong>Quantity Per Unit</strong>: {{selectedProduct.QuantityPerUnit}}</p>
					<p><strong>Unit Price</strong>: {{selectedProduct.UnitPrice | number:2}} <small class="text-muted">{{selectedProduct.currency || 'EUR'}}</small></p>
					<p><strong>Status</strong>: <span ng-class="{'available' : product.Discontinued == false, 'discontinued' : product.Discontinued != false}">{{selectedProduct.Discontinued == true ? "Discontinued":"Available" }}</span></p>
					<p><strong>Category</strong>: {{selectedProduct.CategoryID}}</p>
					<p><strong>Reorder Level</strong>: {{selectedProduct.ReorderLevel}}</p>
					<p><strong>Supplier</strong>: {{selectedProduct.SupplierID}}</p>
					<p><strong>Units In Stock</strong>: {{selectedProduct.UnitsInStock}}</p>
					<p><strong>Units On Order</strong>: {{selectedProduct.UnitsOnOrder}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<footer class="footer">
		<div class="container">
			<p class="text-center text-muted">&copy; 2019 Company, Inc.</p>
		</div>
	</footer> <!-- /.footer -->
</body>
</html>